<!-- ######################################## [START] BREADCRUMB ######################################## -->
<ol class="breadcrumb">
	<li><a href="#/home-dashboard"><i class="fa fa-home"></i> Home</a></li>
	<li><a href="#">Request</a></li>
	<li class="active">Request List</li>
</ol>
<!-- ######################################## [ END ] BREADCRUMB ######################################## -->

<!-- ######################################## [START] CONTENT ######################################## -->
<div class="content">
	<div class="box box-solid box-blue">
		<div class="box-header">
			<div class="box-tools pull-left">
				<button data-box-collapse class="btn btn-default btn-sm">
					<i class="fa fa-chevron-up"></i>
				</button>

			</div>
			<h3 class="box-title">Search Criteria</h3>
			<div class="box-tools pull-right">
				<button class="btn btn-xs btn-primary" data-ng-click="search()">
					<i class="fa fa-search"></i><span>Search</span>
				</button>
				<button class="btn btn-xs btn-warning" data-ng-click="clear()">
					<i class="fa fa-times"></i><span>Clear</span>
				</button>
			</div>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row form-group">
				<div class="col-sm-4">
					<label class="col-sm-5 text-inline">Interface Channel :</label>
					<div class="col-sm-7">
					 <select class="form-control input-xs" data-ui-select2								 
								data-ng-model="criteria.channel">
							<option value=""></option>
							<option data-ng-repeat="channel in channelList" value="{{channel.id}}">{{channel.name}}</optioen>
						</select> 


					</div>
				</div>
				<div class="col-sm-4">
					<label class="col-sm-5 text-inline">From File Name :</label>
					<div class="col-sm-7">
						<input type="text" class="form-control input-xs">
					</div>
				</div>
				<div class="col-sm-4">
					<label class="col-sm-5 text-inline">Request No :</label>
					<div class="col-sm-7">
					<input type="text" class="form-control input-xs" data-ng-model="criteria.jobName" />
					</div>
				</div>
			</div>
			<!-- end row 1 -->
			<div class="row form-group">
				<div class="col-sm-4">
					<label class="col-sm-5 text-inline">Create Date From :</label>
					<div class="col-sm-7">
						<div class='input-group date' data-datepicker
							data-ng-model="criteria.coverDate" id="coverDate">
							<input type='text' class="form-control input-xs col-xs-6">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<label class="col-sm-5 text-inline">Create Date To :</label>
					<div class="col-sm-7">
						<div class='input-group date' data-datepicker
							data-ng-model="criteria.coverDate" id="coverDate">
							<input type='text' class="form-control input-xs col-xs-6">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<label class="col-sm-5 text-inline">Status :</label>
					<div class="col-sm-7">
						<select class="form-control input-xs" data-ui-select2
							data-ng-model="criteria.status">
							<option value=""></option>
							<option data-ng-repeat="status in statusList" value="{{status.name}}">{{status.name}}</option>
						</select>
					</div>
				</div>
				<!-- end row 2 -->
			</div>
			
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->

	<div>
		<button class="btn btn-xs btn-danger" data-ng-click="">
			<i class="fa fa-trash-o"></i><span>Delete</span>
		</button>
	</div><!-- End	Bunton for Assign Surveyor -->
	<div class="dataTables_wrapper">
		<table data-serverside-paging data-paging="paging"
			data-search="search"
			class="table table-bordered table-condensed table-striped table-hover dataTable">
			<thead>
				<tr>
					<th><input data-i-check-all="row_sel" type="checkbox"></th>
					<th data-model="no">No.</th>
					<th data-model="reqNo">BKGS Request No</th>
					<th data-model="reqNoTicket">Request No/Ticket</th>
					<th data-model="profileName">Profile Name</th>
					<th data-model="itfChannel">Interface Channel</th>
					<th data-model="ref">Reference</th>
					<th data-model="createDate">Create Date</th>
					<th data-model="status">Status</th>
				
					
					<th>Action</th>

				</tr>
			</thead>
			<tbody id="datatable_tbody">
				<!-- 				<tr data-ng-dblclick="gotoEdit(jobLog.lovCode)" data-ng-repeat="jobLog in jobLogList"> -->
				<tr data-ng-repeat="allRequest in allRequestList">
					<td><input type="checkbox" name="row_sel" value="{{allRequest.no}}" data-i-check></td>
					<td class="text-center">{{allRequest.no}}</td>
					<td class="text-center">{{allRequest.reqNo}}</td>
					<td class="text-center">{{allRequest.reqNoTicket}}</td>
					<td class="text-left"><a herf="#" data-ng-click="gotoInterfaceLog()" style="cursor:pointer;" > {{allRequest.profileName}}</a></td>
					<td class="text-left">{{allRequest.itfChannel}}</td>
					<td class="text-left">{{allRequest.ref}}</td>
					<td class="text-center">{{allRequest.createDate}}</td>
					<td class="text-left">{{allRequest.status}}</td>
					
										
					<td class="action">
						<!-- 						<a href="" data-tooltip="Edit" data-ng-click="gotoEdit(obj.lovCode)"><i class="fa fa-edit"></i></a> -->
						<a href="" data-tooltip="History" data-toggle="modal" data-target="#history"
						data-ng-click="gotoHistory(allRequest.no)"><i
							class="fa fa-th-list"></i></a>
							
					</td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="col-sm-4">
				<div class="dataTables_length">
					<label>Show <select class="form-control input-xs"
						data-ng-model="paging.limit">
							<option value="10" selected="selected">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
					</select> records per page
					</label>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="dataTables_info">Showing {{paging.showing.start}}
					to {{paging.showing.end}} of {{paging.showing.total}} entries</div>
			</div>
			<div class="col-sm-4">
				<div class="dataTables_paginate paging_bootstrap">
					<div data-pagination data-total-items="paging.totalItems"
						data-items-per-page="paging.limit" data-page="paging.pageNumber"
						data-max-size="5" data-boundary-links="true"
						data-on-select-page="selectPage(page)"></div>
				</div>
			</div>
		</div>
		<!-- end table footer -->
	</div>
	<!-- end datatable_wrapper -->
</div>
<!-- ######################################## [ END ] CONTENT ######################################## -->

<!-- ######################################## Popup ######################################## -->
<div class="modal fade" id="history" tabindex="-1" data-role="dialog" data-aria-labelledby="myModalLabel" data-aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span data-aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <span lang="En" style="color: #367fa9; font-size: 24px; font-weight: bold; line-height: 30px;">Request History</span>&nbsp;&nbsp;
		     </div>
			<div class="modal-body">
				<form name="formModal">
					<div class="row form-group">
						
							
								<div class="dataTables_wrapper">
	 	<table data-serverside-paging data-paging="paging" data-search="search" class="table table-bordered table-condensed table-striped table-hover dataTable">
	 		<thead>
				<tr>
					<th data-model="appNo" data-translate>No</th>
					<th data-model="coverageDate" data-translate>Status</th>
					<th data-model="carNo" data-translate>Date</th>
					<th data-model="carNo" data-translate>Reject Reason</th>
					
				</tr>
			</thead>
			<tbody id="datatable_tbody">
				<tr  data-ng-repeat="history in historyList">
					<td class="">{{history.historyNo}}</td>
					<td class="text-left">{{history.status}}</td>
					<td class="">{{history.date}}</td>
					<td class="text-left">{{history.rejReason}}</td>
					
				</tr>
				<!-- <tr data-ng-show="surveys == '' || surveys == undefined">
					<td colspan="10" data-translate>No data available in table</td>
				</tr> -->
			</tbody>
	 	</table>
	 	
	 	
	 </div>

								
								
								
						
							
						
					</div>
				</form>
			</div>
			<div class="modal-footer">
				
				<button type="button" class="btn btn-warning btn-xs" data-dismiss="modal">
					<i class="fa fa-times"></i>&nbsp;&nbsp;<span data-translate>Close</span>
				</button>
			</div>
		</div>
	</div>
</div>
<!-- ######################################## End Popup ######################################## -->
