<!-- ######################################## [START] BREADCRUMB ######################################## -->
<ol class="breadcrumb">
	<li><a href=""><i class="fa fa-cogs"></i> เมนู</a></li>
	<li class="active"> ครุภัณฑ์</li>
</ol>
<!-- ######################################## [ END ] BREADCRUMB ######################################## -->
<!-- ######################################## [START] CONTENT ######################################## -->
<div class="content"  ng-keydown="keydown($event)">
	<div class="box box-solid box-blue">
		<div class="box-header">
			<div class="box-tools pull-left">
				<button data-box-collapse class="btn btn-default btn-sm">
					<i class="fa fa-chevron-up"></i>
				</button>
			</div>
			<h3 class="box-title">ค้นหา</h3>
			<div class="box-tools pull-right">
				<button class="btn btn-xs btn-primary" data-ng-click="search()" >
					<i class="fa fa-search"></i><span>ค้นหา</span>
				</button>
				<button class="btn btn-xs btn-warning" data-ng-click="clear()">
					<i class="fa fa-times"></i><span>ล้าง</span>
				</button>
			</div>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row form-group">
			<div class="col-sm-4">
					<label class="col-sm-5 text-inline">รายการ :</label>
					<div class="col-sm-7">
						<input type="text" class="form-control input-xs" data-ng-model="criteria.dur_list">
					</div>
				</div>
				<div class="col-sm-4">
					<label class="col-sm-5 text-inline">เลขครุภัณฑ์ :</label>
					<div class="col-sm-7">
						<input type="text" class="form-control input-xs" data-ng-model="criteria.dur_numoe">
					</div>
				</div>
        <div class="col-sm-4">
					<label class="col-sm-5 text-inline">ยี่ห้อ :</label>
					<div class="col-sm-7">
						<input type="text" class="form-control input-xs" data-ng-model="criteria.dur_naoe">
					</div>
				</div>


			</div>
			<!-- end row 1 -->
			<div class="row form-group">

        <div class="col-sm-4">
          <label class="col-sm-5 text-inline">หน่วยงาน :</label>
          <div class="col-sm-7">
            <select class="form-control input-xs" data-ui-select2
              data-ng-model="criteria.dep">
              <option value=""></option>
              <option	data-ng-repeat="dep in depList" value="{{dep.Cost_SKTHM}}">{{dep.Cost_name}}</option>
            </select>
          </div>
        </div>

				<!-- end row 2 -->
			</div>


		</div>

		<!-- /.box-body -->
	</div>
  <button class="btn btn-xs btn-success" data-ng-click="gotoCreate()">
			<i class="fa fa-plus-circle"></i><span>เพิ่มครุภัณฑ์ใหม่</span>
	</button>
	<!-- /.box -->
	<div class="dataTables_wrapper table-responsive">
		<table data-serverside-paging data-paging="paging" data-search="search" class="table table-bordered table-condensed table-striped table-hover dataTable">
			<thead>
				<tr>
					<th >ลำดับ</th>
					<th >รายการ</th>

					<th >เลขครุภัณฑ์</th>
					<th >ยี่ห้อ</th>
					<th data-model="dur_dop">วันที่</th>
					<th >หน่วยงาน</th>
					<th>รายละเอียด</th>

				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="gdl in getDurableList" data-ng-dblclick="replacement(gdl.dur_id,gdl.dur_dis)">
					<td>{{paging.showing.start+$index}}</td>
					<td class="text-left" ><a href="" data-ng-click="gotoDurableHistory(gdl.dur_id)">{{gdl.dur_list}} </a><i class="fa fa-flag" aria-hidden="true" data-ng-show="gdl.dur_dis==1" style="color:{{gdl.disColor}}"></i></td>
					<td class="text-right">{{gdl.dur_numoe}}</td>
					<td class="text-left">{{gdl.dur_naoe}}</td>
					<td class="text-right" >{{gdl.dopStr}}</td>
					<td class="text-left"><a href="" data-tooltip="{{gdl.depStr}}">{{gdl.dur_DepartmentStr}}</a></td>
					<td class="action" >

            <a href="" data-tooltip="แก้ไข" data-ng-click="gotoEdit(gdl.dur_id)" data-ng-hide="gdl.dur_dis==1"><i class="fa fa-edit"></i></a>
						<a href="" data-tooltip="ลบ" data-ng-click="delete(gdl.dur_id)" data-ng-hide="gdl.dur_dis==1"><i class="fa fa-trash-o"></i></a>
            <a href="" data-tooltip="จำหน่าย" data-ng-click="replacement(gdl.dur_id,gdl.dur_dis)" data-ng-hide="gdl.dur_dis==1"><i class="fa fa-external-link-square" ></i></a>
						<label data-ng-show="gdl.dur_dis==1" style="color:{{gdl.disColor}}">{{gdl.mess}}</label>
					</td>


					<tr data-ng-show="getDurableList == '' || getDurableList == undefined">
						<td colspan="11" data-translate>ไม่มีข้อมูล</td>
					</tr>

				</tr>

			</tbody>
		</table>

		<div class="row">
				<div class="col-sm-4">

				</div>
				<div class="col-sm-4">
						<div class="dataTables_info">แสดง {{paging.showing.start}}
								ถึง {{paging.showing.end}} จาก {{paging.showing.total}} รายการ</div>
				</div>
				<div class="col-sm-4">
						<div class="dataTables_paginate paging_bootstrap">
								<div data-pagination data-total-items="paging.totalItems"
										 data-items-per-page="paging.limit" data-page="paging.pageNumber"
										 data-max-size="5" data-boundary-links="true"
										 data-on-select-page="selectPage(page)"></div>
						</div>
				</div>
		</div>
		<!-- end table footer -->
	</div>
	<!-- end datatable_wrapper -->
</div>

	<!-- content -->
