<ol class="breadcrumb">
	<li><a href="#/home-dashboard"><i class="fa fa-home"></i> หน้าแรก</a></li>
	<li><i class="fa fa-laptop"></i> รายละเอียดการแจ้งซ่อม</li>
</ol>

<div class="content">

    <h4 class="page-header">{{getDurableDetailById.dur_list}}</h4>
    <div class="col-sm-12">
        <div class="box box-solid box-blue">
            <div class="box-header">
                <div class="box-tools pull-left">
                    <button data-box-collapse class="btn btn-default btn-sm">
                        <i class="fa fa-chevron-up"></i>
                    </button>
                </div>
                <h3 class="box-title">{{getDurableDetailById.dur_naoe}}</h3>
								<div class="box-tools pull-right">
                    <button  class="btn btn-info btn-sm" data-ng-click="gotoDurableHis()">
                        <i class="fa fa-book"></i><span>ประวัติการซ่อมครุภัณฑ์</span>
                    </button>
                </div>
            </div><!-- box-header -->
            <div class="box-body">
                <div class="row form-group">
                    <div class="dataTables_wrapper">
                        <table data-serverside-paging data-paging="paging" data-search="search" class="table table-bordered table-condensed table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th rowspan="2" width="3%">ลำดับ</th>
                                <th rowspan="2" width="25%">อาการเบื้องต้นโดยผู้ใช้งาน</th>
																<th rowspan="2" width="25%">วิเคราะห์อาการโดยเจ้าหน้าที่</th>
                                <th colspan="4">รายละเอียด</th>
                            </tr>
                            <tr >
																<th>ผู้แจ้ง</th>
																<th>วันที่แจ้ง</th>
                                <th>ผู้ปิดงาน</th>
                                <th>วันที่ปิดงาน</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="gjc in getJobByDurId">
                                <td class="text-center">{{$index+1}}</td>
                                <td class="text-left" style="color:red">{{gjc.job_header}}</td>
																<td class="text-left" style="color:green">{{gjc.comment}}</td>
																<td class="text-left">{{gjc.nameUserStr}}</td>
																<td class="text-center">{{gjc.dateThai}}</td>
                                <td class="text-left">{{gjc.nameOfficerStr}}</td>
                                <td class="text-center">{{gjc.finish_date}}</td>
                            </tr>
                            <tr data-ng-show="getJobByDurId == '' || getJobByDurId == undefined">
                            	<td colspan="10" data-translate>ยังไม่มีรายการ</td>
                        		</tr>






                            </tbody>
                        </table>

                    </div>
                </div>
            </div><!-- box body -->
        </div><!-- box -->
    </div>

</div>
<!-- ######################################## [ END ] CONTENT ######################################## -->
